<div class="jumbotron jumbotron-landing">
  <h1 class="display-3">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации ваших друзей.</p>
  <hr class="m-y-2">
  <p class="lead">
    <a class="btn btn-warning" href="#" role="button">Создать аккаунт</a>
    <a class="btn btn-primary" href="#" role="button">Войти</a>
  </p>
</div>
